* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-nav {
  position: sticky;
  top: 0;
  background-color: blueviolet;
}

.main-nav ul {
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.main-nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

.main-nav ul li {
  list-style: none;
}

.main-nav ul li:hover {
  font-size: 1.5em;
}

.main-content {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content h1 {
  color: blueviolet;
  margin-bottom: 2.5rem;
}

.profile-pic {
  width: 300px;
  border-radius: 50%;
  border: 3px solid blueviolet;
}

.short-intro {
  margin-top: 1.5rem;
  color: blueviolet;
  font-size: 1.3rem;
  font-weight: 10%;
}

.long-intro {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.intro-item {
  color: white;
  padding: 0.9rem;
  width: 60%;
  background-color: blueviolet;
  margin-bottom: 1rem;
  border-radius: 10px;
  text-align: center;
}

.intro-item-1 {
  align-self: center;
}
.intro-item-2 {
  align-self: flex-start;
  margin-left: 0.5rem;
}

.intro-item-3 {
  align-self: flex-end;
  margin-right: 0.5rem;
}

footer {
  margin-top: 1.5rem;
  text-align: center;
  color: blueviolet;
}

@media all and (max-width: 700px) {
  .intro-item {
    width: 80%;
  }
}

.design-1 {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.design-1-item {
  background-color: blueviolet;
  width: 10%;
  height: 200px;
}

.design-1-item-1 {
}

.design-1-item-2 {
  height: 300px;
}

.design-1-item-3 {
}
.skill-section{
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skill-section h2 {
  color: blueviolet;
  margin-bottom: 1rem;
}

.skill-section ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  list-style: none;
  height: 500px;
  align-items: flex-start;
  width: 30%;
}

.skill-section ul li{
  background-color: blueviolet;
  padding: 0.5rem;
  border-radius: 10px;
}

/* .skill-1{
  align-self: flex-start;
}
.skill-2{
  align-self: flex-end;
}
.skill-3{
  align-self: flex-start;
}
.skill-4{
  align-self: flex-end;
}
.skill-5{
  align-self: flex-start;
}
.skill-6{
  align-self: flex-end;
} */
